(edif cyq_FSM_011_Moore
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2023 12 3 23 9 24)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "L-2016.09M-SP1-5, mapper mapact, Build 2172R"))
     )
   )
  (library PA3
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT))
         )
       )
    )
    (cell NOR2B (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + !B)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR2A (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + B)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell DFN1C0 (cellType GENERIC)
      (property is_sequential (integer 1))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT)
           (property function (string "IQ"))
 )
           (port CLK (direction INPUT)
           (property clock (integer 1))
 )
           (port CLR (direction INPUT)
           (property clear (integer 1))
 )
           (port D (direction INPUT))
         )
        (property is_ff (integer 1))
       )
    )
    (cell CLKBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_type (string "clock"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell AO1C (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "(!A & B) + !C"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell cyq_FSM_011_Moore (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port Rst (direction INPUT))
           (port Clk (direction INPUT))
           (port X (direction INPUT))
           (port Y (direction OUTPUT))
         )
         (contents
          (instance Clk_pad (viewRef prim (cellRef CLKBUF (libraryRef PA3)))
          )
          (instance current_S_s2_0_a2 (viewRef prim (cellRef NOR2A (libraryRef PA3)))          )
          (instance (rename current_S_ns_0_0 "current_S_ns_0[0]") (viewRef prim (cellRef AO1C (libraryRef PA3)))          )
          (instance (rename current_S_ns_i_1 "current_S_ns_i[1]") (viewRef prim (cellRef NOR2B (libraryRef PA3)))          )
          (instance (rename current_S_0 "current_S[0]") (viewRef prim (cellRef DFN1C0 (libraryRef PA3)))
          )
          (instance (rename current_S_1 "current_S[1]") (viewRef prim (cellRef DFN1C0 (libraryRef PA3)))
          )
          (instance Y_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance X_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance Rst_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (net (rename current_SZ0Z_0 "current_S[0]") (joined
           (portRef Q (instanceRef current_S_0))
           (portRef A (instanceRef current_S_ns_i_1))
           (portRef B (instanceRef current_S_ns_0_0))
           (portRef B (instanceRef current_S_s2_0_a2))
          ))
          (net (rename current_SZ0Z_1 "current_S[1]") (joined
           (portRef Q (instanceRef current_S_1))
           (portRef A (instanceRef current_S_ns_0_0))
           (portRef A (instanceRef current_S_s2_0_a2))
          ))
          (net (rename current_S_ns_0 "current_S_ns[0]") (joined
           (portRef Y (instanceRef current_S_ns_0_0))
           (portRef D (instanceRef current_S_0))
          ))
          (net (rename current_S_ns_iZ0Z_1 "current_S_ns_i[1]") (joined
           (portRef Y (instanceRef current_S_ns_i_1))
           (portRef D (instanceRef current_S_1))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
          (net Rst_c (joined
           (portRef Y (instanceRef Rst_pad))
           (portRef CLR (instanceRef current_S_1))
           (portRef CLR (instanceRef current_S_0))
          ))
          (net Rst (joined
           (portRef Rst)
           (portRef PAD (instanceRef Rst_pad))
          ))
          (net Clk_c (joined
           (portRef Y (instanceRef Clk_pad))
           (portRef CLK (instanceRef current_S_1))
           (portRef CLK (instanceRef current_S_0))
          ))
          (net Clk (joined
           (portRef Clk)
           (portRef PAD (instanceRef Clk_pad))
          ))
          (net X_c (joined
           (portRef Y (instanceRef X_pad))
           (portRef B (instanceRef current_S_ns_i_1))
           (portRef C (instanceRef current_S_ns_0_0))
          ))
          (net X (joined
           (portRef X)
           (portRef PAD (instanceRef X_pad))
          ))
          (net Y_d_c (joined
           (portRef Y (instanceRef current_S_s2_0_a2))
           (portRef D (instanceRef Y_pad))
          ))
          (net Y (joined
           (portRef PAD (instanceRef Y_pad))
           (portRef Y)
          ))
         )
        (property langParams (string "S0 S1 S2 S3"))
        (property S3 (integer 2))
        (property S2 (integer 3))
        (property S1 (integer 1))
        (property S0 (integer 0))
        (property orig_inst_of (string "cyq_FSM_011_Moore"))
       )
    )
  )
  (design cyq_FSM_011_Moore (cellRef cyq_FSM_011_Moore (libraryRef work)))
)
