(edif cyq_74HC74
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2023 11 27 9 11 58)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "L-2016.09M-SP1-5, mapper mapact, Build 2172R"))
     )
   )
  (library PA3
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT))
         )
       )
    )
    (cell NOR2A (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + B)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INV (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!A"))
 )
           (port A (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell DFN1P1C1 (cellType GENERIC)
      (property is_sequential (integer 1))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT)
           (property function (string "IQ"))
 )
           (port CLK (direction INPUT)
           (property clock (integer 1))
 )
           (port CLR (direction INPUT)
           (property clear (integer 1))
 )
           (port D (direction INPUT))
           (port PRE (direction INPUT)
           (property preset (integer 1))
 )
         )
        (property is_ff (integer 1))
       )
    )
    (cell CLKBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_type (string "clock"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell cyq_74HC74 (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port sd (direction INPUT))
           (port rd (direction INPUT))
           (port clk (direction INPUT))
           (port D (direction INPUT))
           (port Q (direction OUTPUT))
           (port Q_n (direction OUTPUT))
         )
         (contents
          (instance clk_pad (viewRef prim (cellRef CLKBUF (libraryRef PA3)))
          )
          (instance Q_RNO_0 (viewRef prim (cellRef INV (libraryRef PA3)))          )
          (instance Q_n_RNO_1 (viewRef prim (cellRef INV (libraryRef PA3)))          )
          (instance Q_n_RNO_0 (viewRef prim (cellRef INV (libraryRef PA3)))          )
          (instance Q_n_RNO (viewRef prim (cellRef NOR2A (libraryRef PA3)))          )
          (instance Q_RNO (viewRef prim (cellRef NOR2A (libraryRef PA3)))          )
          (instance (rename QZ0 "Q") (viewRef prim (cellRef DFN1P1C1 (libraryRef PA3)))
          )
          (instance (rename Q_nZ0 "Q_n") (viewRef prim (cellRef DFN1P1C1 (libraryRef PA3)))
          )
          (instance Q_n_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance Q_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance D_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance rd_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance sd_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (net (rename Q_n_RNOZ0 "Q_n_RNO") (joined
           (portRef Y (instanceRef Q_n_RNO))
           (portRef CLR (instanceRef Q_nZ0))
          ))
          (net (rename Q_RNOZ0 "Q_RNO") (joined
           (portRef Y (instanceRef Q_RNO))
           (portRef CLR (instanceRef QZ0))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
          (net sd_c (joined
           (portRef Y (instanceRef sd_pad))
           (portRef A (instanceRef Q_RNO))
           (portRef B (instanceRef Q_n_RNO))
           (portRef A (instanceRef Q_RNO_0))
          ))
          (net sd (joined
           (portRef sd)
           (portRef PAD (instanceRef sd_pad))
          ))
          (net rd_c (joined
           (portRef Y (instanceRef rd_pad))
           (portRef B (instanceRef Q_RNO))
           (portRef A (instanceRef Q_n_RNO))
           (portRef A (instanceRef Q_n_RNO_1))
          ))
          (net rd (joined
           (portRef rd)
           (portRef PAD (instanceRef rd_pad))
          ))
          (net clk_c (joined
           (portRef Y (instanceRef clk_pad))
           (portRef CLK (instanceRef Q_nZ0))
           (portRef CLK (instanceRef QZ0))
          ))
          (net clk (joined
           (portRef clk)
           (portRef PAD (instanceRef clk_pad))
          ))
          (net D_c (joined
           (portRef Y (instanceRef D_pad))
           (portRef D (instanceRef QZ0))
           (portRef A (instanceRef Q_n_RNO_0))
          ))
          (net D (joined
           (portRef D)
           (portRef PAD (instanceRef D_pad))
          ))
          (net Q_c (joined
           (portRef Q (instanceRef QZ0))
           (portRef D (instanceRef Q_pad))
          ))
          (net Q (joined
           (portRef PAD (instanceRef Q_pad))
           (portRef Q)
          ))
          (net Q_n_c (joined
           (portRef Q (instanceRef Q_nZ0))
           (portRef D (instanceRef Q_n_pad))
          ))
          (net Q_n (joined
           (portRef PAD (instanceRef Q_n_pad))
           (portRef Q_n)
          ))
          (net D_c_i (joined
           (portRef Y (instanceRef Q_n_RNO_0))
           (portRef D (instanceRef Q_nZ0))
          ))
          (net rd_c_i (joined
           (portRef Y (instanceRef Q_n_RNO_1))
           (portRef PRE (instanceRef Q_nZ0))
          ))
          (net sd_c_i (joined
           (portRef Y (instanceRef Q_RNO_0))
           (portRef PRE (instanceRef QZ0))
          ))
         )
        (property orig_inst_of (string "cyq_74HC74"))
       )
    )
  )
  (design cyq_74HC74 (cellRef cyq_74HC74 (libraryRef work)))
)
