(edif cyq_SSD2
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2023 12 11 23 2 44)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "L-2016.09M-SP1-5, mapper mapact, Build 2172R"))
     )
   )
  (library PA3
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT))
         )
       )
    )
    (cell OR2B (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!A + !B"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell OR2A (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!A + B"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell OR2 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "A + B"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INV (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!A"))
 )
           (port A (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell DFN1E1C1 (cellType GENERIC)
      (property is_sequential (integer 1))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT)
           (property function (string "IQ"))
 )
           (port CLK (direction INPUT)
           (property clock (integer 1))
 )
           (port CLR (direction INPUT)
           (property clear (integer 1))
 )
           (port D (direction INPUT))
           (port E (direction INPUT))
         )
        (property is_ff (integer 1))
       )
    )
    (cell DFN1C1 (cellType GENERIC)
      (property is_sequential (integer 1))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT)
           (property function (string "IQ"))
 )
           (port CLK (direction INPUT)
           (property clock (integer 1))
 )
           (port CLR (direction INPUT)
           (property clear (integer 1))
 )
           (port D (direction INPUT))
         )
        (property is_ff (integer 1))
       )
    )
    (cell CLKBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_type (string "clock"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell cyq_74HC138 (cellType GENERIC)
       (view netlist (viewType NETLIST)
         (interface
           (port Y_net_2_0 (direction OUTPUT))
           (port (array (rename q_net_0 "Q_net_0[1:0]") 2) (direction INPUT))
           (port un8_Y_2_0 (direction OUTPUT))
           (port un8_Y_1_0 (direction OUTPUT))
           (port un8_Y_0 (direction OUTPUT))
         )
         (contents
          (instance (rename un8_YZ0Z_0 "un8_Y_0") (viewRef prim (cellRef OR2 (libraryRef PA3)))          )
          (instance (rename un8_Y_1Z0Z_0 "un8_Y_1_0") (viewRef prim (cellRef OR2A (libraryRef PA3)))          )
          (instance (rename un8_Y_2Z0Z_0 "un8_Y_2_0") (viewRef prim (cellRef OR2A (libraryRef PA3)))          )
          (instance un8_Y_3_0 (viewRef prim (cellRef OR2B (libraryRef PA3)))          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (net un8_Y_0 (joined
           (portRef Y (instanceRef un8_YZ0Z_0))
           (portRef un8_Y_0)
          ))
          (net (rename Q_net_0_1 "Q_net_0[1]") (joined
           (portRef (member q_net_0 0))
           (portRef A (instanceRef un8_Y_3_0))
           (portRef A (instanceRef un8_Y_2Z0Z_0))
           (portRef B (instanceRef un8_Y_1Z0Z_0))
           (portRef A (instanceRef un8_YZ0Z_0))
          ))
          (net (rename Q_net_0_0 "Q_net_0[0]") (joined
           (portRef (member q_net_0 1))
           (portRef B (instanceRef un8_Y_3_0))
           (portRef B (instanceRef un8_Y_2Z0Z_0))
           (portRef A (instanceRef un8_Y_1Z0Z_0))
           (portRef B (instanceRef un8_YZ0Z_0))
          ))
          (net un8_Y_1_0 (joined
           (portRef Y (instanceRef un8_Y_1Z0Z_0))
           (portRef un8_Y_1_0)
          ))
          (net un8_Y_2_0 (joined
           (portRef Y (instanceRef un8_Y_2Z0Z_0))
           (portRef un8_Y_2_0)
          ))
          (net (rename Y_net_2_0 "Y_net_2[0]") (joined
           (portRef Y (instanceRef un8_Y_3_0))
           (portRef Y_net_2_0)
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
         )
        (property orig_inst_of (string "cyq_74HC138"))
       )
    )
    (cell counter (cellType GENERIC)
       (view netlist (viewType NETLIST)
         (interface
           (port (array (rename q_net_0 "Q_net_0[1:0]") 2) (direction OUTPUT))
           (port Aclr_c_i (direction INPUT))
           (port Clk_c (direction INPUT))
         )
         (contents
          (instance INV_1 (viewRef prim (cellRef INV (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance DFN1C1_NU_0 (viewRef prim (cellRef DFN1C1 (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance INV_0 (viewRef prim (cellRef INV (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance DFN1E1C1_NU_1 (viewRef prim (cellRef DFN1E1C1 (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (net INV_1_Y (joined
           (portRef Y (instanceRef INV_1))
           (portRef D (instanceRef DFN1C1_NU_0))
          ))
          (net (rename Q_net_0_0 "Q_net_0[0]") (joined
           (portRef Q (instanceRef DFN1C1_NU_0))
           (portRef E (instanceRef DFN1E1C1_NU_1))
           (portRef A (instanceRef INV_1))
           (portRef (member q_net_0 1))
          ))
          (net Clk_c (joined
           (portRef Clk_c)
           (portRef CLK (instanceRef DFN1E1C1_NU_1))
           (portRef CLK (instanceRef DFN1C1_NU_0))
          ))
          (net Aclr_c_i (joined
           (portRef Aclr_c_i)
           (portRef CLR (instanceRef DFN1E1C1_NU_1))
           (portRef CLR (instanceRef DFN1C1_NU_0))
          ))
          (net INV_0_Y (joined
           (portRef Y (instanceRef INV_0))
           (portRef D (instanceRef DFN1E1C1_NU_1))
          ))
          (net (rename Q_net_0_1 "Q_net_0[1]") (joined
           (portRef Q (instanceRef DFN1E1C1_NU_1))
           (portRef A (instanceRef INV_0))
           (portRef (member q_net_0 0))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
         )
        (property orig_inst_of (string "counter"))
       )
    )
    (cell cyq_SSD2 (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port Aclr (direction INPUT))
           (port Clk (direction INPUT))
           (port COM_1 (direction OUTPUT))
           (port COM_2 (direction OUTPUT))
           (port COM_3 (direction OUTPUT))
           (port COM_4 (direction OUTPUT))
           (port a (direction OUTPUT))
           (port b (direction OUTPUT))
           (port c (direction OUTPUT))
           (port d (direction OUTPUT))
           (port e (direction OUTPUT))
           (port f (direction OUTPUT))
           (port g (direction OUTPUT))
         )
         (contents
          (instance Clk_pad (viewRef prim (cellRef CLKBUF (libraryRef PA3)))
          )
          (instance Aclr_pad_RNIMJ6D (viewRef prim (cellRef INV (libraryRef PA3)))          )
          (instance g_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance f_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance e_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance d_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance c_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance b_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance a_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance COM_4_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance COM_3_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance COM_2_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance COM_1_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance Aclr_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance counter_0 (viewRef netlist (cellRef counter))
          )
          (instance cyq_74HC138_0 (viewRef netlist (cellRef cyq_74HC138))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (net (rename Q_net_0_0 "Q_net_0[0]") (joined
           (portRef (member q_net_0 1) (instanceRef counter_0))
           (portRef (member q_net_0 1) (instanceRef cyq_74HC138_0))
          ))
          (net (rename Q_net_0_1 "Q_net_0[1]") (joined
           (portRef (member q_net_0 0) (instanceRef counter_0))
           (portRef (member q_net_0 0) (instanceRef cyq_74HC138_0))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net un8_Y_0 (joined
           (portRef un8_Y_0 (instanceRef cyq_74HC138_0))
           (portRef D (instanceRef COM_1_pad))
          ))
          (net un8_Y_1_0 (joined
           (portRef un8_Y_1_0 (instanceRef cyq_74HC138_0))
           (portRef D (instanceRef COM_2_pad))
          ))
          (net un8_Y_2_0 (joined
           (portRef un8_Y_2_0 (instanceRef cyq_74HC138_0))
           (portRef D (instanceRef COM_3_pad))
          ))
          (net (rename Y_net_2_0 "Y_net_2[0]") (joined
           (portRef Y_net_2_0 (instanceRef cyq_74HC138_0))
           (portRef D (instanceRef COM_4_pad))
           (portRef D (instanceRef e_pad))
           (portRef D (instanceRef f_pad))
          ))
          (net Aclr_c (joined
           (portRef Y (instanceRef Aclr_pad))
           (portRef A (instanceRef Aclr_pad_RNIMJ6D))
          ))
          (net Aclr (joined
           (portRef Aclr)
           (portRef PAD (instanceRef Aclr_pad))
          ))
          (net Clk_c (joined
           (portRef Y (instanceRef Clk_pad))
           (portRef Clk_c (instanceRef counter_0))
          ))
          (net Clk (joined
           (portRef Clk)
           (portRef PAD (instanceRef Clk_pad))
          ))
          (net COM_1 (joined
           (portRef PAD (instanceRef COM_1_pad))
           (portRef COM_1)
          ))
          (net COM_2 (joined
           (portRef PAD (instanceRef COM_2_pad))
           (portRef COM_2)
          ))
          (net COM_3 (joined
           (portRef PAD (instanceRef COM_3_pad))
           (portRef COM_3)
          ))
          (net COM_4 (joined
           (portRef PAD (instanceRef COM_4_pad))
           (portRef COM_4)
          ))
          (net a (joined
           (portRef PAD (instanceRef a_pad))
           (portRef a)
          ))
          (net b (joined
           (portRef PAD (instanceRef b_pad))
           (portRef b)
          ))
          (net c (joined
           (portRef PAD (instanceRef c_pad))
           (portRef c)
          ))
          (net d (joined
           (portRef PAD (instanceRef d_pad))
           (portRef d)
          ))
          (net e (joined
           (portRef PAD (instanceRef e_pad))
           (portRef e)
          ))
          (net f (joined
           (portRef PAD (instanceRef f_pad))
           (portRef f)
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
           (portRef D (instanceRef a_pad))
           (portRef D (instanceRef b_pad))
           (portRef D (instanceRef c_pad))
           (portRef D (instanceRef d_pad))
           (portRef D (instanceRef g_pad))
          ))
          (net g (joined
           (portRef PAD (instanceRef g_pad))
           (portRef g)
          ))
          (net Aclr_c_i (joined
           (portRef Y (instanceRef Aclr_pad_RNIMJ6D))
           (portRef Aclr_c_i (instanceRef counter_0))
          ))
         )
        (property orig_inst_of (string "cyq_SSD2"))
       )
    )
  )
  (design cyq_SSD2 (cellRef cyq_SSD2 (libraryRef work)))
)
