(edif cyq_SD1
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2023 11 20 15 44 3)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "L-2016.09M-SP1-5, mapper mapact, Build 2172R"))
     )
   )
  (library PA3
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT))
         )
       )
    )
    (cell INBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell AO16 (cellType GENERIC)
      (property dont_touch (string "true"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "A & B & !C + !A & !B & C"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell cyq_74HC153 (cellType GENERIC)
       (view netlist (viewType NETLIST)
         (interface
           (port C_c (direction INPUT))
           (port B_c (direction INPUT))
           (port A_c (direction INPUT))
           (port Y_c (direction OUTPUT))
         )
         (contents
          (instance Y_2s_iv (viewRef prim (cellRef AO16 (libraryRef PA3)))          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (net Y_c (joined
           (portRef Y (instanceRef Y_2s_iv))
           (portRef Y_c)
          ))
          (net A_c (joined
           (portRef A_c)
           (portRef A (instanceRef Y_2s_iv))
          ))
          (net B_c (joined
           (portRef B_c)
           (portRef B (instanceRef Y_2s_iv))
          ))
          (net C_c (joined
           (portRef C_c)
           (portRef C (instanceRef Y_2s_iv))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
         )
        (property orig_inst_of (string "cyq_74HC153"))
       )
    )
    (cell cyq_SD1 (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
           (port Y (direction OUTPUT))
         )
         (contents
          (instance Y_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance C_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance B_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance A_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance cyq_74HC153_0 (viewRef netlist (cellRef cyq_74HC153))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
          (net A_c (joined
           (portRef Y (instanceRef A_pad))
           (portRef A_c (instanceRef cyq_74HC153_0))
          ))
          (net A (joined
           (portRef A)
           (portRef PAD (instanceRef A_pad))
          ))
          (net B_c (joined
           (portRef Y (instanceRef B_pad))
           (portRef B_c (instanceRef cyq_74HC153_0))
          ))
          (net B (joined
           (portRef B)
           (portRef PAD (instanceRef B_pad))
          ))
          (net C_c (joined
           (portRef Y (instanceRef C_pad))
           (portRef C_c (instanceRef cyq_74HC153_0))
          ))
          (net C (joined
           (portRef C)
           (portRef PAD (instanceRef C_pad))
          ))
          (net Y_c (joined
           (portRef Y_c (instanceRef cyq_74HC153_0))
           (portRef D (instanceRef Y_pad))
          ))
          (net Y (joined
           (portRef PAD (instanceRef Y_pad))
           (portRef Y)
          ))
         )
        (property orig_inst_of (string "cyq_SD1"))
       )
    )
  )
  (design cyq_SD1 (cellRef cyq_SD1 (libraryRef work)))
)
